<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

	<display-name>ERS Created Web Application</display-name>

	<servlet>
		<servlet-name>Login Servlet</servlet-name>
		<servlet-class>com.revature.servlet.LoginServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Login Servlet</servlet-name>
		<url-pattern>/logintest</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Manager Servlet</servlet-name>
		<servlet-class>com.revature.servlets.ManagerServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Manager Servlet</servlet-name>
		<url-pattern>/manager</url-pattern>
	</servlet-mapping>

</web-app>